.vertical > div > div,
.vertical :global(.rt-ScrollAreaViewport) {
  display: block !important;
}

.vertical :global(.rt-ScrollAreaViewport > *) {
  height: auto;
  width: auto;
}

.full_height {
  /* JB doesn't support dvh */
  height: 100vh;
  height: 100dvh;
}

.full_height :global(.rt-ScrollAreaViewport > *) {
  height: 100%;
}

.vertical :global(.rt-ScrollAreaScrollbar[data-orientation="vertical"]) {
  width: 5px;
}

.vertical :global(.rt-ScrollAreaThumb) {
  background-color: var(--gray-a3);
  border-radius: 2px;
  transition: background-color 150ms ease-out;
}

.vertical :global(.rt-ScrollAreaScrollbar:hover .rt-ScrollAreaThumb) {
  background-color: var(--gray-a5);
}

.vertical :global(.rt-ScrollAreaThumb:active) {
  background-color: var(--gray-a7);
}
